body{
    background-color: #ffbf59;
}

.jumbotron{
    background-color: #666666;
}

#user{
    background-color: #ffbf59;
    color: black;
}

#start{
    background-color: #ffbf59;
    color: black;
}